/* General styling */

.contact-us-section {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
p {
  font-weight: 400;
}
.contact-info {
  background-color: black;
  color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-info h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #2a65a1;
}

.contact-info p {
  font-size: 1rem;
  margin: 5px 0;
}

.contact-info a {
  color: #2a65a1;
  text-decoration: none;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Layout Section */
.call-back-section,
.call-back-section1 {
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 5% 10%;
}

.form-container,
.info-container {
  flex: 1 1 45%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-container input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-container input:focus {
  border-color: #be5434; /* Optional: Highlight color */
  box-shadow: 0 0 4px #be5434;
}

.form-container button {
  /* width: 100%; */
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2a65a1;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#bt{
  border: 1px solid white;
  color: white;
}
.form-container button:hover {
  background-color: #7e7a79;
}

/* Responsive */
@media (max-width: 480px) {
  .form-container {
    padding: 16px;
  }

  .form-container input,
  .form-container button {
    padding: 12px;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #2a65a1;
}

hr {
  border: none;
  border-top: 2px solid #2a65a1;
  width: 50px;
  margin: 10px 0;
}

.info-container p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

@media (max-width: 768px) {
  .call-back-section,
  .call-back-section1 {
    flex-wrap: wrap;
  }
}

/* contact css */
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adds space between items */
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row; /* Horizontal layout on larger screens */
  }
}
