
















/* don't touch it */
.l {
  text-decoration: none;
  color: black;
}

/* nav css */
.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand {
  padding-left: 20px;
}
.nav-item {
  padding: 0 15px;
}
.btn-book {
  padding: 10px 20px;
}
.navbar {
  padding: 20px;
  background-color: #2a65a1;
}
.navbar h4 {
  color: white;
  font-weight: bold;
}
.navbar a {
  color: white;
}
.dropdown-menu a {
  color: black;
}
.navbar h4 {
  font-weight: 700;
}
